<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Hata</title>
</head>
<body>
<div id="globalWrapper">


    <div id="site" class="clearfix">


        <h2>Test başarısız</h2>
        <div class="userPrompt">
            <img src="https://lc-www-live-s.legocdn.com/r/www/-/media/portal%20v2010/errors/404%20mainstage%20image.jpg?l.r2=1953967734"
                 alt=""/>
            <div>
                <a class="btn cancel large blue" href="/home"><span class="label">Testi Yeniden Başlat </span><span
                        class="decor"></span></a>
            </div>
        </div>

    </div>
    </div>

</body>
</html>