<!DOCTYPE html>
<html lang="tr" xmlns:th="http://www.thymeleaf.org">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<head>
    <title>Home</title>
    <link rel="stylesheet" href="../static/bootstrap.css" th:href="@{bootstrap.css}"/>
</head>
<body>
<div class="maincontainer">
    <div class="kare">
        <div class="divkare">
            <div align="center" style="padding-top: 45%">
                <a href="/modemModel" class="btn btn-success">Testi Başlat</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>